@use '../../mixins' as *;

.container {
    display: flex;
    padding-inline: 8px;
    align-items: center;
    justify-content: space-between;
    @include respond-to('lg') {
        padding: 8px 80px;
    }
    button {
      display: none;
      @include respond-to('lg') {
        display: block;
        padding: 14px 16px;
        font-size: 14px;
        line-height: 16px;
      }
    }
}

.sub-menu {
  display: none;
  @include respond-to('lg') {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  & > div {
    padding: 14px 16px;
  }
}



.icon {
    margin: 16px;
    @include respond-to('lg') {
        display: none;
    }
}
