@use 'styles/mixins' as *;

.container {
    margin-block: 20px;
    background-image: url('../../../../public/images/why-choose-us-small-background.png');
    background-position: left top;
    padding-inline: 20px;
    padding-block: 28px;
    min-height: 304px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-size: cover;
    @include respond-to('sm') {
        background-image: url('../../../../public/images/why-choose-us-background.png');
        background-position: center;
    }
    @include respond-to('2xl') {
        margin-block: 0;
        padding: 120px 208px;
        gap: 24px;
    }
}

.title {
    padding-block: 8px;
    img {
        margin-top: 8px;
    }
    @include respond-to('2xl') {
        padding-block: 0;
        div {
            font-size: 72px;
            line-height: 80px;
            margin-block: 8px;
        }
        img {
            width: 303px;
            height: 80px;
            margin-top: 24px;
        }
    }
}

.reason-item {
    display: flex;
    gap: 8px;
    align-items: start;
    padding-right: 80px;
    img {
        height: 24px;
    }
    @include respond-to('2xl') {
        gap: 16px;
        img {
            width: 24px;
            height: 32px;
        }
        div {
            font-size: 24px;
            line-height: 32px;
        }
    }
}
